body {
    transition: 0.2s ease-in-out;
    background-image: url('/background_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    font-family: 'Courier New', Courier, monospace
}

.light {
    background-color: #252525;
    color: white;
}

.dark {
    background-color: whitesmoke;
    color: black;
}

.heading {
    font-size: 300%;
    font-weight: bolder;
}
.logout_lable{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    padding: 3px;
    font-weight: 600;
    border-radius: 10px;

    
}